.card-signin {
  background: white;
  border: 0;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

/* .form-signin {
  width: 100%;
} */
.loginBtn:hover {
  color: white;
  background-color: #0A5B99;
  -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  /* font-weight: bold; */
  padding: 1rem;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  -webkit-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}

/* ==================================================== CUSTOM ===================================================== */
.p-loginForm {
  width: 30vw;
  margin: 0 auto;
}

.p-signInForm {
  background: yellow;
  width: 30vw;
}

.signIn {
  background-color: #3fc29d;
  width: 75%;
  margin: 1%;
  color: white;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.row.login-row {
  height: 100vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.p-tabbed-ul {
  position: absolute;
  top: -30px;
  left: 0px;
}

.pay {
  background-color: #3fc29d;
  width: 75%;
  margin: 1%;
  color: white;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.p-tabbed-item {
  border: solid rgb(49, 49, 49) 0.5px;
  border-bottom: 1px solid #dee2e6;
  border-radius: 5px 5px 0px 0px;
  padding: 8px;
  height: 40px;
  width: 14vw;
  background: #f3f3f3;
  margin-right: 1px;
}

.p-tabbed-item:hover {
  background: #c4ddee;
  cursor: pointer;
}

.p-active-tab {
  background-color: #fff;
  border-bottom: none;
  z-index: 10;
}

.store-nav {
  display: none;
}

.loginContainer {
  height: 100%;
  top: 200px;
  left: 240px;
}

@media only screen and (max-width: 788px) {

  .p-loginForm {
    width: auto
  }
}

@media only screen and (max-width: 525px) {

  .nav-item {
    font-size: 2.7vw;
  }

  .p-logo {
    
  }
}

/* ====================================================END of   CUSTOM ===================================================== */

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
  .form-label-group>label {
    display: none;
  }

  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .form-label-group>label {
    display: none;
  }

  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }

}