.container{
    height: 100vh;
}

.main-row{
    height: 40rem;
}
.p-main-col{
    height: 100%;
}

.summary, .category, .items {
    height: 100%;
}
.summary {
    width: 100%;
    border: 3px solid blue;
}
.category {
    width: 100%;
    border: 3px solid pink;
}

.items {
    width: 100%;
    border: 3px solid yellow;
}
