.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.p-loginForm {
  width: 30vw;
  margin: 0 auto;
}

.p-signInForm {
  background: yellow;
  width: 30vw;
}


.row.login-row {
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.p-tabbed-ul {
  position: absolute;
  top: -30px;
  left: 0px;
}

.p-tabbed-item {
  border: solid rgb(49, 49, 49) 1px;
  border-bottom: 1px solid #dee2e6;
  border-radius: 5px 5px 0px 0px;
  padding: 5px;
  width: 13vw;
  background: #f3f3f3;
}
.p-tabbed-item:hover {
  background: #c4ddee;
  cursor: pointer;
}

.p-active-tab {
  background-color: #fff;
  border-bottom: none;
  z-index: 10;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
